*{
    margin: 0;
    padding: 0;
}
body{
    background-color: yellow;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.feedback-container{
    background-color: #fff;
    width:400px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    position: relative;
}
.emoji-container{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 48px;
    height: 48px;
    overflow: hidden;
}
.fa-3x{
    transform: translateX(110%);
    transition: transform 0.2s;
    position: absolute;
    top: 0;
    left: 0;
}
.star-container{
    display: flex;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.star-icon{
    width: 40px;
    height: 40px;
    color: gray;
    cursor: pointer;
}
.active{
    color: gold;
}
.active-emoji{
    transform: translateX(0px);
    z-index: 999;
}
.reset-action{
    background-color: #fff;
    outline: none;
    border:none;
    padding: 5px 10px;
    cursor: pointer;
}